// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
@import "variables";
// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: #{$primary};
    --tiki-top-color: #{$white};
    --tiki-top-hover-color: #{$white};
    --tiki-top-hover-bg: rgba(255,255,255,.15);
    --tiki-top-text-color: #{$white};
    --tiki-top-border: none;
    --tiki-top-box-shadow: none;
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #{$primary};
    --tiki-topbar-color: #{$white};
    --tiki-topbar-hover-color: #{$white};
    --tiki-topbar-hover-bg: rgba(255,255,255,.15);
    --tiki-topbar-text-color: #{$white};
    --tiki-topbar-border: none;
    --tiki-topbar-box-shadow: none;
    --tiki-top-border-width: 0;
    --tiki-topbar-border-width: 0;
}

@mixin top-nav-light {
    --tiki-top-bg: #{$primary};
    --tiki-top-color: #{$white};
    --tiki-top-hover-color: #{$navbar-light-hover-color};
    --tiki-top-active-color: #{$navbar-light-hover-color};
    --tiki-top-hover-bg: rgba(255,255,255,.15);
    --tiki-top-active-bg: rgba(255,255,255,.15);
    --tiki-top-text-color: #{$white};
    --tiki-top-border: none;
    --tiki-top-box-shadow: none;
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: #{$primary};
    --tiki-topbar-color: #{$white};
    --tiki-topbar-hover-color: #{$white};
    --tiki-topbar-active-color: #{$white};
    --tiki-topbar-hover-bg: rgba(255,255,255,.15);
    --tiki-topbar-active-bg: rgba(255,255,255,.15);
    --tiki-topbar-text-color: #{$white};
    --tiki-topbar-border: none; // solid #1a1a1a;
    --tiki-topbar-box-shadow: none;
}

.tiki-top-nav-light {
    @include top-nav-light;
}

.tiki-topbar-nav-light {
    @include topbar-nav-light;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-light;                      // light values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-light;
    }
}

:root {
    --tiki-fixed-top-site-title-font-size: 1.8rem;          // Fixed-top position (Basic Bootstrap layout)
    --tiki-fixed-top-site-title-font-weight: 700;
    --tiki-fixed-top-site-subtitle-font-size: 1.4rem;
    --tiki-fixed-top-site-subtitle-font-weight: 400;

    --tiki-site-title-font-size: 2rem;                      // Static position (Classic Tiki and Single Container layouts)
    --tiki-site-title-font-weight: 700;
    --tiki-site-subtitle-font-size: 1.5rem;
    --tiki-site-subtitle-font-weight: 400;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: var(--tiki-top-bg);
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.55); //  rgba(0, 0, 0, 0.9);
    --tiki-admin-top-nav-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: var(--tiki-top-bg);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$dropdown-link-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: rgba(255,255,255,.15);
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: #{$primary};
    --tiki-admin-top-nav-color: #fff;
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: #fff;
    --tiki-admin-aside-nav-bg: #{$primary};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$dropdown-dark-link-color};
    --tiki-admin-dropdown-link-bg: #1C1C1C;
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-dark-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: rgba(255,255,255,.15);
    .accordion-item {
        border-width: 0 !important;
    }
    button.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
    .accordion-button::after {
        background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2366bad6'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light, // Legacy
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option (Commented out as not used in this theme.)
//[data-bs-theme=dark] {                              // dark color mode
//    .tiki .tiki-admin-top-nav-light,
//    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
//    .tiki .tiki-admin-aside-nav-light {               // light top selectors
//        @include admin-nav-dark;                      // dark values
//    }
//}
// Color mode preference trumps L&F admin dark navbar option (Commented out as not used in this theme.)
//[data-bs-theme=light] {                              // light color mode
//    .tiki .tiki-admin-top-nav-dark,
//    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
//    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
//        @include admin-nav-light;                      // light values
//    }
//}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

// Other styles
:root {
    --tiki-main-content-bg: #fff;
    --tiki-bookstacked-col2-col3-position: sticky;
    --tiki-bookstacked-col2-col3-overflow-y: auto;
}

[data-bs-theme=dark] {
    --tiki-main-content-bg: #222;
    .bg-light { background-color: #{$gray-800}; }
    .nav-link { color: var(--#{$prefix}link-color); }
//    $nav-link-hover-color:              var(--#{$prefix}link-hover-color);
    .btn-outline-primary {
        --bs-btn-color: #3192D8; --bs-btn-border-color: var(--bs-btn-color);
    }
    .btn-outline-secondary {
        --bs-btn-color: #818A92; --bs-btn-border-color: var(--bs-btn-color);
    }
    .btn-outline-success {
        --bs-btn-color: #1EA465; --bs-btn-border-color: var(--bs-btn-color);
    }
    .btn-outline-danger {
        --bs-btn-color: #E35F6C; --bs-btn-border-color: var(--bs-btn-color);
    }
    .btn-outline-warning {
        --bs-btn-color: #B38600; --bs-btn-border-color: var(--bs-btn-color);
    }
    .btn-outline-info {
        --bs-btn-color: #0A9BB8; --bs-btn-border-color: var(--bs-btn-color);
    }
    .btn-outline-dark {
        --bs-btn-color: #818A92; --bs-btn-border-color: var(--bs-btn-color); // Same as secondary
    }
    ul.navbar-nav.sm-nav > .sm-nav-item > .sm-nav-link {
        color: var(--bs-nav-link-color);
    }
}