.inline-cypht {
    font-family: $font-family-base;
    color: var(--bs-body-color) !important;
    position: relative;
    overflow-y: hidden;
    background-color: var(--bs-secondary-bg);

    .hide { display: none !important; }
    // override colors when not using cypht default theme
    img { opacity: 1 !important; max-width: 100%; }
    i.bi, .folders li, .inner_list li { color: var(--bs-body-color) !important; }
    .ui-widget-content { background-color: $tiki-ui-default-bg !important; }
    .ui-menu-item-wrapper { color: var(--bs-body-color) !important; }
    .ui-state-active { color: $tiki-ui-default-link-active-color !important; }
    .popover-header { color: $popover-header-color !important; }
    .popover-body { color: $popover-body-color !important; }
    .btn-primary {
        color: color-yiq($primary) !important;
        background-color: $primary !important;
        border-color: darken($primary, 7.5%) !important;
        &:hover, &:focus { background-color: darken($primary, 7.5%) !important; }
    }
    .btn-info {
        color: color-yiq($info) !important;
        background-color: $info !important;
        border-color: darken($info, 7.5%) !important;
        &:hover, &:focus { background-color: darken($info, 7.5%) !important; }
    }
    .card { border-color: $card-border-color !important; }
    .card-header { border-color: $card-border-color !important; }
    .card-body {
        .nav-link {
            &, small { color: inherit !important; }
        }
    }
    .dropdown-divider { border-color: $dropdown-divider-bg !important; }
    .dropdown-header { color: $dropdown-header-color !important; }
    .moduletitle { color: var(--bs-body-color) !important; }
    a:not(.dropdown-item) .icon, .btn-link {
        border-color: transparent !important;
        color: inherit !important;
        &:hover { color: var(--bs-link-hover-color) !important; }
    }
    .nav-tabs {
        border: none !important;
        border-bottom: 1px solid $nav-tabs-border-color !important;
        .nav-link { color: inherit !important; }
        .nav-link.active, .nav-item.show .nav-link { color: var(--bs-link-hover-color) !important; }
        .nav-link:not(.active) { border: none !important; }
    }
    .compose_to, .compose_bcc, .compose_cc { color: var(--bs-body-color) !important; }
    // override colors when not using cypht default theme

    .draft_folder_select, .sent_folder_select, .trash_folder_select, .delete_folder_select, .rename_folder_select, .rename_parent_folder_select, .parent_folder_select, .archive_folder_select {
        background-color: var(--bs-body-bg);
    }
    a:not(.btn), a.btn-link {
        color: inherit !important;
        &:hover {
            color: var(--bs-link-hover-color) !important;
            text-decoration: inherit;
        }
    }
    .s_pre { opacity: 0.5; color: var(--bs-body-color) !important; }

    .flipmodtitle.close, .close {
        height: $btn-close-height; // Bootstrap 5 changed from font to svg button bg.
        width: $btn-close-width;
        &, &:hover, &:focus { color: $btn-close-color !important; }
    }

    .navbar-light .navbar-nav .nav-link {
        color: $navbar-light-color !important;
        &:hover, &:focus { color: $navbar-light-hover-color !important; }
    }
    .navbar-dark .navbar-nav .nav-link {
        color: $navbar-dark-color !important;
        &:hover, &:focus { color: $navbar-dark-hover-color !important; }
    }
    .dropdown-menu .dropdown-item {
        border-radius: 0;
        &, .icon { color: $dropdown-link-color !important; }
        &:hover, &:focus {
            &, .icon { color: $dropdown-link-hover-color !important; }
        }
    }
}

.inline-cypht {
    a:not(.btn):hover {
        text-decoration: $link-hover-decoration !important;
    }
    .content_title {
        overflow: visible; min-height: 50px; max-height: 400px;
        padding: 25px;
        padding-bottom: 5px;
    }

    .folders a, .subject a, .selected_menu a,
    .unread_link, .selected_menu, .manage_folder_link {
        &:not(.btn) {
            color: var(--bs-body-color) !important;
            &:hover {
                color: var(--bs-link-hover-color) !important;
                text-decoration: $link-hover-decoration;
            }
        }
    }

    .folder_list, .content_cell, .compose_page, .message_list, .msg_text, .selected_part,
    .server_content, .profile_content, .user_settings,
    .nux_add_account, .imap_server_setup, .pop3_server_setup,
    .configured_server, .add_server {
        background-color: $popover-bg;
        color: $popover-body-color;
    }

    .mailbox_list_title { display: inline-block; }
    .msg_controls { position: absolute; top: 25px; left: 50px; }
    .msg_controls .dropdown.on_mobile { display: none; }
    .msg_controls .core_msg_control,
    .msg_controls .btn {
        padding: 1px 3px;
        border-radius: 5px;
        font-weight: bold;
        color: var(--bs-body-color);
    }
    .msg_controls > .core_msg_control { display: none; }
    .msg_controls .dropdown.on_mobile { display: block; }
    .move_to_location 

    .msg_text_inner {
        width: 100%;
        word-break: break-word;
    }

    .msg_text .content {
        overflow: auto;
    }

    .credentials-container > div { display: inline-table; width: 100%; }
    .credentials-container > div:nth-child(2) { margin-top: 10px; margin-bottom: 10px; }

    .imap_envelope th,
    .msg_headers th {
        white-space: normal;
    }

    .msg_headers [class^="header_"] td {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .msg_text table { width: 100% !important; }
    .msg_text .content table { table-layout: fixed; }
    .msg_text #contact_info { white-space: unset; }

    .src_name, .content_title, .list_controls {
        background-color: inherit !important;
        color: $popover-header-color;
        background-image: inherit !important;
    }
    .src_name { border-left-color: transparent; max-height: 100px; }

    .message_table > tbody > tr > td, .msg_headers, .reply_quote,
    .user_settings table td, .nux_empty_combined_view,
    .empty_list, .profiles_empty, .subtitle {
        color: $popover-body-color;
    }
    .msg_text_inner > table { background-color: #fff; }

    .msg_headers th:hover, .settings_subtitle,
    .server_section { color: inherit !important; }

    .total_unread_count, .unread_count { color: #000; }
    .btn-outline-secondary:hover { color: #fff !important; text-decoration: none;}

    .profile_details th, .msg_date,
    .news_cell .source, .news_cell .from { color: $popover-body-color; }
    .cursor-pointer { cursor: pointer; }

    // message list / text
    .refresh_list, .list_settings_link { padding:0; margin: 5px 2px 0; }
    .msg_date { font-weight: bold; }
    .msg_parts tr:not(:last-child) { border-bottom: 1px solid #444; }
    .part_desc, .part_size, .download_link { margin-left: 25px; }
    .msg_part_icon { padding: 0; margin-left: 5px; }
    .msg_headers td { padding-right: 35px; }
    .noselect2 { display: none !important; }

    .advanced_search_form {
        input[type="radio"], input[type="checkbox"] { margin-right: 5px; }
        label {    margin-right: 10px; }
    }

    .other_section {
        table { width: 100%; white-space: normal; }
        table tr { display: flex; flex-wrap: wrap; }
        table th { width: 40%; }
        table td {
            max-width: 55%;
            label {    width: 130px; }
        }
        .flags { width: 170px; }
    }

    .select2-container { min-width: 150px; margin-bottom: 0; }
    .combined_sort, .combined_sort + el-select { display: inline-block; margin-left: 10px; width: 150px; }

    .folders li, .inner_list li {
        word-break: break-all;
        white-space: unset;
    }
    .toggle_link { margin-right: 10px; }
    .move_to_location .folders a:not(.btn), .move_to_location i { color: $dropdown-link-color !important; }
    .shortcut_table { width: 100%; }
    .app-container {
        padding: 20px;
    }
    .folder_list, .content_cell{
        position: relative;
        overflow-y: auto;
        border-radius: var(--bs-border-radius);
    }
    .collapsed ul {
        display: inherit;
    }
    main .container {
        width: 100%;
    }
    #imap_filter_form {        
        .imap_sort + el-select, .imap_filter + el-select {
            width: 120px;
        }
    }
    .compose_form .form-floating:last-of-type {
        display: flex;
        flex-direction: column-reverse;
    }
    .form-floating el-select + label {
        transform: unset !important;
        position: relative !important;
    }
}

.mobile.tiki-cypht, .mobile.tiki-webmail {
    .msg_controls {
        background: inherit !important;
    }

    .folder_list {
        background-color: $popover-bg;
        color: $popover-body-color;
        border: 1px solid $input-border-color;
        i { color: var(--bs-body-color) !important; }

        .src_name {
            border-left-color: transparent;
        }
    }

    .nux_dev_news table td:last-child {
        border-bottom: 1px solid $input-border-color;
        white-space: normal;
    }
}

//
// Mobile specific
//
.mobile {
    .inline-cypht {
        nav.folder_cell {
            position: fixed;
            z-index: 9999;
        }
        .menu-toggle {
            z-index: 9999;
        }
        .content_cell {
            padding: 0;
            border: none;
            display: block !important;
        }

        .message_list .content_title, .message_list .content_title > div:first-child {
            margin-bottom: 0;
        }

        .content_title {
            background-color: $body-bg !important;
            .list_controls {
                width: 100%;
            }
        }

        .list_controls i.bi-filter-circle {
            position: absolute;
            right: 15px;
            top: 20px;
            font-size: 150%;
            z-index: 100;
        }
        .imap_filter_form { margin-left: 10px; margin-right: 10px; }

        .message_list .content_title > div:first-child { display: flex; flex-direction: row; }
        .mailbox_list_title { order: 2 }
        .msg_headers th { width: 20%; }

        .sys_messages {
            top: 0; right: 0; width: 100%; min-height: 5px;
            padding-bottom: 15px; white-space: normal;
        }

        // mobile home
        .nux_welcome ul { padding-left: 20px; }
        .nux_dev_news table td { display: block; }
        .nux_dev_news table tr {
            &:not(:last-child) td:last-child {
                margin-bottom: 10px; padding-bottom: 10px;
            }
            &:last-child td:last-child { border-bottom: none; }
        }

        // mobile servers
        .nux_empty_combined_view { margin-left: 10px; margin-right: 10px; }
        .settings_subtitle, .server_section { padding-left: 15px !important; }
        .add_server { margin-left: 20px; }
        .server_count { margin-right: 15px; }

        // mobile site settings / profiles
        .user_settings, .edit_profile {
            input[type=text], input[type=email], select,
            textarea { width: 100%; text-align: left; }
        }
        .edit_profile table { width: 100%; }

        // mobile folders
        .folder_dialog { margin-left: 30px; width: 85%; }
        #imap_server_folder { width: 100%; }

        // mobile search
        .search_content {
            padding-top: 0;
            .content_title { display: block; padding-top: 20px; padding-bottom: 10px; }
            .search_form {
                display: block; padding: 0; font-size: 100%;
                select { width: auto; margin: 5px; }
                input[type=submit], input[type=button] { font-size: 80%; }
            }
            #search_terms { margin: 10px 3px 3px; width: 270px; max-width: 100%; }
            .message_table { margin-top: 115px;    }
        }

        .time_section input[type=date] { display: block; margin-bottom: 10px; }
        .timeandor { text-align: left; }
        .targets_section, .other_section, .submit_section,
        .time_section, .source_section, .terms_section {
            padding-left: 30px;
        }

        // mobile compose
        .compose_page { padding: 10px; overflow: hidden; }
        .compose_form { width: 100% !important; padding: 0 !important; }
        .toggle_recipients { right: 10px !important; }
        .compose_bcc, .compose_cc, .compose_subject,
        .compose_to, .compose_body, .compose_server {
            margin: 5px 0;
        }

        // mobile message list
        .list_settings_link, .refresh_list { width: 20px; height: 20px; }
        .toggle_link { width: auto !important; }
        .message_table > tbody >tr > td { padding-right: 10px; }
        .msg_headers td { padding-right: 10px; }
        .long_header th { white-space: normal; word-break: normal; }
        .news_cell {
            padding-bottom: 15px !important;
            &.checkbox_cell { width: 40px; padding: 14px 10px 10px !important; }
            .msg_date { padding-top: 0; }
            .subject {
                &, & div { padding-bottom: 0px !important; }
            }
        }
        .history_content .news_cell.checkbox_cell { padding: 10px 15px !important; }

        // mobile message text
        .header_links { padding-bottom: 8px; }
        .msg_text { max-width: 100% !important; word-break: break-word; }
        .msg_text_inner { width: 100%; padding: 15px !important; }
        .msg_parts { table-layout: auto; }
        .msg_controls { position: relative; left: 0 !important; height: auto; padding-top: 0; }
        .select2-container { min-width: 100px; }
        #list_controls_menu { background-color: var(--bs-body-bg); }
        #list_controls_menu.show { flex-direction: row; justify-content: center; align-items: center; }
        .msg_text table { word-break: normal; }

        // groupmail
        .groupmail.message_table {
            > tbody > tr > td { padding: 0 75px 0 15px; border: none; }
            thead { display: none; }
            td { width: 100%; }
            tr {
                position: relative; display: flex; flex-wrap: wrap;
                width: 100vw; padding: 0 0 25px;
            }
            td.icon, td.action { position: absolute; width: auto; text-align: right; }
            td.icon { right: 5px; }
            td.action { right: -60px; }
        }
    }

    // Remove the fixed navbar as it will make Cypht navbar not visible
    .navbar.fixed-top { display: none; }
}

//
// removing unnecessary stuff
//
.tiki-webmail.mobile {
    .box-logo, .pagetitle, .pagetitle + .t_navbar { display: none; }
    .topbar { margin-bottom: 0; }
    #page-header { display: none; }
    #topbar_modules { display: none !important; }
    #row-middle { margin-left: -15px; margin-right: -15px; border: none; }
    #col1 { padding: 0; border: none; }
    #col2, #col3 { margin-left: 15px; margin-right: 15px; }
}
